@import "tailwindcss";

.paypal-button-container{
    max-width: 100% !important;
    width: 100% !important;
}
.app{
    background-image: url("./assets/background.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
.main{
    font-family: "PT Serif", serif;
}
.textWithPoppins{
    font-family: "Poppins", sans-serif;
}
.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.pt-serif-bold {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
}

.pt-serif-regular-italic {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
}

.pt-serif-bold-italic {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
}
